acct.py
*.csv
*.txt

*/
!Pyqtrader/
!.system/
!Apps/
!Indicators/
!Experts/
!Scripts/
!assets/
!data/
!symbols/
!examples/
!Files/
!mt5linuxport/

!requirements.txt
!MODEL_H1.csv
!MODEL_H1results.csv

test*